@using Cervantes.CORE
@model VulnCategoryViewModel

@{
    ViewData["Title"] = "Create Vuln Category";
}

@{
    if (TempData["errorCreatingVulnCat"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <strong localize-content>An error ocurred creating vuln category!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content><i class="fas fa-bug"></i> <span localize-content>Create Vulnerability Category</span></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item" localize-content>
                        <a asp-controller="Vuln" asp-action="Index" localize-content>Vulnerability</a>
                    </li>
                    <li class="breadcrumb-item active" localize-content>Create Category</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>
<!-- Main content -->
<section class="content">
<div class="card">
<div class="card-body">

    <div class="col-md-12">
        <form asp-area="" asp-controller="Vuln" asp-action="CreateCategory" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label" localize-content>Name</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label" localize-content>Description</label>
                <textarea id="descriptionTxt" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" localize-content>Type</label>
                @Html.DropDownListFor(model => model.Type, Html.GetEnumSelectList<VulnCategoryType>(), new {@class = "form-control"})
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <a class="btn btn-light" asp-action="Index" localize-content>Back</a>
                <button type="submit" class="btn btn-dark" localize-content>Create</button>
            </div>

        </form>
    </div>
        
</div>
</div>
</section>

@section Scripts
{
    <script>
    $(document).ready(function() { 
          $('#descriptionTxt').summernote({
          height: 300,
          });
          });
  
        
  
    
    </script>
}