@model Cervantes.Web.Models.DocumentViewModel

@{
    ViewData["Title"] = "Create Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (TempData["fileNotPermitted"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong localize-content>This file type is not permitted!</strong>

        </div>
    }
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content><i class="fas fa-file"></i> Create Document</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Document" asp-action="Index" localize-content>Document</a>
                    </li>
                    <li class="breadcrumb-item active" localize-content>Create</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-body">

            <div class="row justify-content-center">
                <div class="col-md-12">
                    <form asp-area="" asp-controller="Document" asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label" localize-content>Name</label>
                            <input asp-for="Name" class="form-control"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label" localize-content>Description</label>
                            <textarea id="description" asp-for="Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="upload" localize-content>Select Document</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="Upload" name="Upload" 
                                           accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, 
                                            application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/dwg, 
                                            application/pdf, application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation, application/rtf">
                                    <label class="custom-file-label" for="Upload" localize-content>Choose File</label>

                                </div>

                            </div>
                            <span asp-validation-for="Upload" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-default" asp-action="Index" localize-content>Back</a>
                            <button type="submit" class="btn btn-dark" localize-content>Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/theme/plugins/bs-customfile-input/bs-custom-file-input.min.js"></script>
    <script>
$(document).ready(function() {
      $('#description').summernote({
      height: 300,
      });
      });
    

         $(document).ready(function () {
  bsCustomFileInput.init();
});
         </script>
}