@model IEnumerable<Cervantes.Web.Models.UserViewModel>

@{
    ViewData["Title"] = "Backup";
}

@{
    if (TempData["backupData"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong localize-content><span localize-content>Data backup made successfully !</span></strong>

        </div>
    }
    if (TempData["backupAttData"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong localize-content><span localize-content>Attachments backup made successfully !</span></strong>

        </div>
    }
    
    if (TempData["errorBackupData"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong localize-content><span localize-content>A problem ocurred backing up data !</span></strong>

        </div>
    }
    if (TempData["errorBackupAttData"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong localize-content><span localize-content>A problem ocurred backing up attachments !</span></strong>

        </div>
    }
    
}

    <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><i class="fas fa-download"></i> <span localize-content>Backup</span></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item active" localize-content>Backup</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">
    
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                    <h3><i class="fas fa-database"></i> <span localize-content>Data</span></h3>
                    <p localize-content>Backup all the data (Projects, Vulnerabilities, Clients,...)</p>
                
                    <div class="text-center">
                        <form asp-area="" asp-controller="Backup" asp-action="BackupData" method="post" onclick="setTimeout(function () { window.location.reload(); }, 1000)">
                            <button type="submit" class="btn btn-dark"><i class="fas fa-download"></i> <span localize-content>Save</span></button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="col-md-6 justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h3><i class="fas fa-file"></i> <span localize-content>Attachments</span></h3>
                    <p localize-content>Backup all the attachments (Images, Reports,...)</p>
                    <div class="text-center">
                                        <form asp-area="" asp-controller="Backup" asp-action="BackupAttachments" method="post" onclick="setTimeout(function () { window.location.reload(); }, 1000)">
                                            <button type="submit" class="btn btn-dark"><i class="fas fa-download"></i> <span localize-content>Save</span></button>
                                        </form>
                                    </div>

                </div>
            </div>
        </div>
    </div>
    
</section>
<!-- /.content -->
<!-- /.content-wrapper -->

