@model Cervantes.CORE.Vault

@{
    ViewData["Title"] = "Delete Target";
}

@{
    if (TempData["errorDeleteVault"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <strong localize-content>An error ocurred deleting Vault!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content><i class="fas fa-key"></i> Delete Data Vault</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item" localize-content>
                        <a asp-area="" asp-controller="Workspaces" asp-action="Index" localize-content>Workspace</a>
                    </li>
                    <li class="breadcrumb-item" localize-content>
                        <a asp-area="Workspace" asp-controller="Vault" asp-action="Index" localize-content>Vault</a>
                    </li>
                    <li class="breadcrumb-item active" localize-content>Delete</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-body">
            <h3 localize-content>Are you sure you want to delete this?</h3>

            <div>

                <dl class="row">
                    <dt class="col-sm-2" localize-content>
                        Name
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2" localize-content>
                        Vault Type
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Type)
                    </dd>
                    <dt class="col-sm-2" localize-content>
                        Description
                    </dt>
                    
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    
                </dl>

                <form asp-area="Workspace" asp-controller="Vault" asp-action="Delete" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id"/>
                    <a class="btn btn-light" asp-action="Index" localize-content>Back</a>
                    <button type="submit" class="btn btn-outline-danger" localize-content>Delete</button>
                </form>
            </div>
        </div>
    </div>
</section>