@using System.Net
@model Cervantes.CORE.Organization

@{
    ViewData["Title"] = "Organization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (TempData["errorOrganization"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <strong localize-content>An error ocurred updating organization information!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["updatedOrganization"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Organization information updated successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }
    
    if (TempData["logoDeleted"] != null)
         {
             <div class="alert alert-danger alert-dismissible">
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                 <strong localize-content>The logo has been deleted successfully!</strong>
     
             </div>
         }
    if (TempData["errorLogoDeleted"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong localize-content>An error ocurred deleting oragnization logo!</strong>

        </div>
    }
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content><i class="fas fa-sitemap"></i> <span localize-content>Edit Organization</span></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Organization" asp-action="Index" localize-content>Organization</a>
                    </li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-body">

            <div class="row justify-content-center">
                <div class="col-md-12">

                    <form asp-area="" asp-controller="Organization" asp-action="Index" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label" localize-content>Name</label>
                            <input asp-for="Name" class="form-control"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactName" class="control-label"localize-content>Contact Name</label>
                            <input asp-for="ContactName" class="form-control"/>
                            <span asp-validation-for="ContactName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactEmail" class="control-label" localize-content>Contact Email</label>
                            <input type="email" asp-for="ContactEmail" class="form-control" data-inputmask="'alias': 'email'"/>
                            <span asp-validation-for="ContactEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactPhone" class="control-label" localize-content>Contact Phone</label>
                            <input asp-for="ContactPhone" class="form-control" data-inputmask="'mask': '(+099) 999 99 99 99 [9999]'"/>
                            <span asp-validation-for="ContactPhone" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Url" class="control-label">URL</label>
                            <input asp-for="Url" class="form-control" data-inputmask="'alias': 'url'"/>
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description" class="control-label" localize-content>Description</label>
                            <textarea id="description" asp-for="Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="upload" localize-content>Organization Logo</label>
                            @if (Model != null && Model.ImagePath != null)
                            {
                                <div>
                                    <img src="@Model.ImagePath" class="img-circle elevation-2" alt="User Image" height="100" width="100">
                                    <a class="btn btn-danger btn-sm" asp-controller="Organization" asp-action="DeleteLogo" asp-route-id="@Model.Id" as localize-content><i class="fas fa-trash"></i> Delete Avatar</a>
                                </div>
                            }
                            else
                            {
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="upload" name="upload" accept="image/bmp, image/gif, image/ico, image/jpeg, image/png, image/tiff">
                                        <label class="custom-file-label" for="upload" localize-content>Choose File</label>
                                    </div>

                                </div>
                            }

                        </div>


                        <div class="form-group">
                            <a class="btn btn-default" asp-action="Index" localize-content>Back</a>
                            <input type="submit" class="btn btn-dark" localize-content></input>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/theme/plugins/bs-customfile-input/bs-custom-file-input.min.js"></script>
    <script src="~/lib/inputmask/jquery.inputmask.min.js"></script>
        <script src="~/lib/inputmask/bindings/inputmask.binding.js"></script>
    <script>
        $(document).ready(function() {
              $('#description').summernote({
              height: 300,
              });
              });
            


                     $(document).ready(function () {
              bsCustomFileInput.init();
            });
         </script>
}