<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
	  <add assembly="NLog.Appsettings.Standard"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>

	  <target name="db" 
			  xsi:type="Database"
		   connectionString="${appsettings:name=ConnectionStrings.DefaultConnection}" 
			  DBProvider = "Npgsql.NpgsqlConnection, Npgsql"
		   commandType="Text">
			  <commandText>
				  INSERT INTO Logs("created_on","message","level","exception","stack_trace","logger","url") VALUES (@created_on,@msg,@level,@exception,@trace,@logger,@url);
		  </commandText>

		  <parameter name="@datetime" layout="${date}" />
		  <parameter name="@msg" layout="${message}" />
		  <parameter name="@level" layout="${level}" />
		  <parameter name="@exception" layout="${exception}" />
		  <parameter name="@trace" layout="${stacktrace}" />
		  <parameter name="@logger" layout="${logger}" />
		  <parameter name="@url" layout="${aspnet-request-url}" />
	  </target>
	  
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" /> <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	  <logger name="*" minlevel="Trace" writeTo="db" />
  </rules>
</nlog>