<div class="table-responsive-md">
            <table class="table table-bordered table-hover" id="errht" width="100%">
                <thead class="thead-dark">
                <tr>
                    <th><i class="fas fa-exclamation-circle"></i> Error Handling</th>
                    <th><i class="fas fa-vial"></i> Test Name</th>
                    <th><i class="fas fa-bullseye"></i> Objectives</th>
                    
                    <th><i class="fas fa-project-diagram"></i> Status</th>
                    
                    <th><i class="fas fa-sticky-note"></i> Notes</th>
                    
                    <th>
                        <i class="fas fa-eye"></i>
                    </th>
                    
                    
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>WSTG-ERRH-01</td>
                    <td>Testing for Improper Error Handling</td>
                                    
                    <td><p>- Identify existing error output.</p>
                        <p>- Analyze the different output returned.</p></td>
                                    
                    <td>
                        <select class="form-control">
                            <option value="0">Not Started</option>
                            <option value="1">Pass</option>
                            <option value="2">Issues</option>
                            <option value="3">N/A</option>
                        </select>
                    </td>
                    <td>    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> </td>
                    <td>
                        <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#errh1Modal">
                            <i class="fas fa-eye"></i>
                        </button>
                    </td>
                </tr>
                
                <tr>
                    <td>WSTG-ERRH-02</td>
                    <td>Testing for Stack Traces</td>
                                                    
                    <td>Testing for Stack Traces</td>
                                                    
                    <td>
                        <select class="form-control">
                            <option value="0">Not Started</option>
                            <option value="1">Pass</option>
                            <option value="2">Issues</option>
                            <option value="3">N/A</option>
                        </select>
                    </td>
                    <td>    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> </td>
                    <td>
                        <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#errh2Modal">
                            <i class="fas fa-eye"></i>
                        </button>
                    </td>
                </tr>
               
                </tbody>
            </table>
        </div>

<!-- Modal -->
<div class="modal fade" id="errh1Modal" tabindex="-1" role="dialog" aria-labelledby="errh1ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errh1ModalLabel">WSTG-ERRH-01 - Testing for Improper Error Handling</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 id="summary">Summary</h2>
                
                <p>All types of applications (web apps, web servers, databases, etc.) will generate errors for various reasons. Developers often ignore handling these errors, or push away the idea that a user will ever try to trigger an error purposefully (<em>e.g.</em> sending a string where an integer is expected). When the developer only consider the happy path, they forget all other possible user-input the code can receive but can’t handle.</p>
                
                <p>Errors sometimes rise as:</p>
                
                <ul>
                    <li>stack traces,</li>
                    <li>network timeouts,</li>
                    <li>input mismatch,</li>
                    <li>and memory dumps.</li>
                </ul>
                
                <p>Improper error handling can allow attackers to:</p>
                
                <ul>
                    <li>Understand the APIs being used internally.</li>
                    <li>Map the various services integrating with each other by gaining insight on internal systems and frameworks used, which opens up doors to attack chaining.</li>
                    <li>Gather the versions and types of applications being used.</li>
                    <li>DoS the system by forcing the system into a deadlock or an unhandled exception that sends a panic signal to the engine running it.</li>
                    <li>Controls bypass where a certain exception is not restricted by the logic set around the happy path.</li>
                </ul>
                
                <h2 id="test-objectives">Test Objectives</h2>
                
                <ul>
                    <li>Identify existing error output.</li>
                    <li>Analyze the different output returned.</li>
                </ul>
                
                <h2 id="how-to-test">How to Test</h2>
                
                <p>Errors are usually seen as benign as they provide diagnostics data and messages that could help the user understand the problem at hand, or for the developer to debug that error.</p>
                
                <p>By trying to send unexpected data, or forcing the system into certain edge cases and scenarios, the system or application will most of the times give out a bit on what’s happening internally, unless the developers turned off all possible errors and return a certain custom message.</p>
                
                <h3 id="web-servers">Web Servers</h3>
                
                <p>All web apps run on a web server, whether it was an integrated one or a full fledged one. Web apps must handle and parse HTTP requests, and for that a web server is always part of the stack. Some of the most famous web servers are NGINX, Apache, and IIS.</p>
                
                <p>Web servers have known error messages and formats. If one is not familiar with how they look, searching online for them would provide examples. Another way would be to look into their documentation, or simply setup a server locally and discover the errors by going through the pages that the web server uses.</p>
                
                <p>In order to trigger error messages, a tester must:</p>
                
                <ul>
                    <li>Search for random files and folders that will not be found (404s).</li>
                    <li>Try to request folders that exist and see the server behavior (403s, blank page, or directory listing).</li>
                    <li>Try sending a request that breaks the <a href="https://tools.ietf.org/html/rfc7231">HTTP RFC</a>. One example would be to send a very large path, break the headers format, or change the HTTP version.
                        <ul>
                            <li>Even if errors are handled on the application level, breaking the HTTP RFC may make the integrated web server show itself since it has to handle the request, and developers forget to override these errors.</li>
                        </ul>
                    </li>
                </ul>
                
                <h3 id="applications">Applications</h3>
                
                <p>Applications are the most susceptible to let out a wide variety of error messages, which include: stack traces, memory dumps, mishandled exceptions, and generic errors. This happens due to the fact that applications are custom built most of the time and the developers need to observe and handle all possible error cases (or have a global error catching mechanism), and these errors can appear from integrations with other services.</p>
                
                <p>In order to make an application throw these errors, a tester must:</p>
                
                <ol>
                    <li>Identify possible input points where the application is expecting data.</li>
                    <li>Analyse the expected input type (strings, integers, JSON, XML, etc.).</li>
                    <li>Fuzz every input point based on the previous steps to have a more focused test scenario.
                        <ul>
                            <li>Fuzzing every input with all possible injections is not the best solution unless you have unlimited testing time and the application can handle that much input.</li>
                            <li>If fuzzing isn’t an option, handpick viable inputs that have the highest chance to break a certain parser (<em>e.g.</em> a closing bracket for a JSON body, a large text where only a couple of characters are expected, CLRF injection with parameters that might be parsed by servers and input validation controls, special characters that aren’t applicable for file names, etc.).</li>
                            <li>Fuzzing with jargon data should be ran for every type as sometimes the interpreters will break outside of the developer’s exception handling.</li>
                        </ul>
                    </li>
                    <li>Understand the service responding with the error message and try to make a more refined fuzz list to bring out more information or error details from that service (it could be a database, a standalone service, etc.).</li>
                </ol>
                
                <p>Error messages are sometimes the main weakness in mapping out systems, especially under a microservice architecture. If services are not properly set to handle errors in a generic and uniform manner, error messages would let a tester identify which service handles which requests, and allows for a more focused attack per service.</p>
                
                <blockquote>
                    <p>The tester needs to keep a vigilant eye for the response type. Sometimes errors are returned as success with an error body, hide the error in a 302, or simply by having a custom way of representing that error.</p>
                </blockquote>
                
                <h2 id="remediation">Remediation</h2>
                
                <p>For remediation, check out the <a href="https://owasp.org/www-project-proactive-controls/v3/en/c10-errors-exceptions">Proactive Controls C10</a> and the <a href="https://cheatsheetseries.owasp.org/cheatsheets/Error_Handling_Cheat_Sheet.html">Error Handling Cheat Sheet</a>.</p>
                
                <h2 id="playgrounds">Playgrounds</h2>
                
                <ul>
                    <li><a href="https://bkimminich.gitbooks.io/pwning-owasp-juice-shop/content/part2/security-misconfiguration.html#provoke-an-error-that-is-neither-very-gracefully-nor-consistently-handled">Juice Shop - Error Handling</a></li>
                </ul>
                
                <h2 id="references">References</h2>
                
                <ul>
                    <li><a href="/www-project-web-security-testing-guide/stable/6-Appendix/C-Fuzz_Vectors">WSTG: Appendix C - Fuzz Vectors</a></li>
                    <li><a href="https://owasp.org/www-project-proactive-controls/v3/en/c10-errors-exceptions">Proactive Controls C10: Handle All Errors and Exceptions</a></li>
                    <li><a href="https://github.com/OWASP/ASVS/blob/master/4.0/en/0x15-V7-Error-Logging.md#v74-error-handling">ASVS v4.1 v7.4: Error handling</a></li>
                    <li><a href="https://cwe.mitre.org/data/definitions/728.html">CWE 728 - Improper Error Handling</a></li>
                    <li><a href="https://cheatsheetseries.owasp.org/cheatsheets/Error_Handling_Cheat_Sheet.html">Cheat Sheet Series: Error Handling</a></li>
                </ul>

            </div>
            <div class="modal-footer">
                <a href="https://owasp.org/www-project-web-security-testing-guide/stable/4-Web_Application_Security_Testing/08-Testing_for_Error_Handling/01-Testing_For_Improper_Error_Handling" class="btn btn-success" target="_blank">View on owasp.org</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="errh2Modal" tabindex="-1" role="dialog" aria-labelledby="errh2ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errh2ModalLabel">WSTG-ERRH-02 - Testing for Improper Error Handling</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This content has been merged into: Testing for Improper Error Handling.</p>
            </div>
            <div class="modal-footer">
                <a href="https://owasp.org/www-project-web-security-testing-guide/stable/4-Web_Application_Security_Testing/08-Testing_for_Error_Handling/02-Testing_for_Stack_Traces" class="btn btn-success" target="_blank">View on owasp.org</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>