@model ClientViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content><i class="fas fa-briefcase"></i> Edit Client</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Client" asp-action="Index" localize-content>Client</a>
                    </li>
                    <li class="breadcrumb-item active" localize-content>Edit</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-body">

            <div class="row justify-content-center">
                <div class="col-md-12">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id"/>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label" localize-content>Name</label>
                            <input asp-for="Name" class="form-control"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label" localize-content>Description</label>
                            <textarea id="description" asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Url" class="control-label">Url</label>
                            <input asp-for="Url" class="form-control"/>
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactName" class="control-label" localize-content>Contact Name</label>
                            <input asp-for="ContactName" class="form-control"/>
                            <span asp-validation-for="ContactName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactEmail" class="control-label" localize-content>Contact Email</label>
                            <input asp-for="ContactEmail" class="form-control"/>
                            <span asp-validation-for="ContactEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactPhone" class="control-label" localize-content>Contact Phone</label>
                            <input asp-for="ContactPhone" class="form-control"/>
                            <span asp-validation-for="ContactPhone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-light" asp-action="Index" localize-content>Back</a>
                            <button type="submit" class="btn btn-dark" localize-content>Edit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
       $(document).ready(function() {
         $('#description').summernote({
         height: 300,
         callbacks: {
                 onImageUpload: function(image) {
                     uploadImage(image[0]);
                 }
                 }
         });
         });
       
       function uploadImage(image) {
           var data = new FormData();
           data.append("image", image);
           $.ajax({
               url: '@Url.Action("UploadClient", "Image")',
               cache: false,
               contentType: false,
               processData: false,
               data: data,
               type: "post",
               success: function(FileUrl) {
                   var imgNode = document.createElement('img');  
                   imgNode.src = FileUrl;  
                   $('#description').summernote('insertNode', imgNode); 
               },
               error: function(data) {
                   alert(data.responseText); 
               }
           });
       }
      
       
       $(document).ready(function () {
         bsCustomFileInput.init();
       });
         </script>
}