@page "/Account/LdapLogin"
@using Cervantes.IFR.Ldap
@using Cervantes.Web.Components.Layout
@using Cervantes.Web.Localization
@using Microsoft.Extensions.Localization
@layout LoginLayout

@inject IdentityRedirectManager RedirectManager
@inject ILdapService LdapService
@inject IStringLocalizer<Resource> localizer

<PageTitle>@localizer["login"] | Cervantes</PageTitle>

<MudGrid>
    <MudStack>
    <MudItem xs="12">
        <div class="d-flex justify-center">
            <img src="img/logo.png" Style="width: 100px; height: 100px;"/>
        </div>
    </MudItem>

    <MudItem xs="12">
        <div class="d-flex justify-center">
            <MudText Typo="Typo.h4">Cervantes</MudText>
        </div>
    </MudItem>
    <MudItem xs="12">
        <div class="d-flex justify-center">
            <MudText>LDAP Authentication</MudText>
        </div>
    </MudItem>
    <MudItem xs="12">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="d-flex justify-center">
                <MudAlert Severity="Severity.Error">@errorMessage</MudAlert>
            </div>
        }



    </MudItem>

    <form method="post" action="Account/PerformLdapLogin">
        <MudGrid>
            <AntiforgeryToken/>

            <MudItem xs="12" Class="d-flex justify-center">
                <div class="mud-grid-item mud-grid-item-xs-12">
                    <div class="mud-input-control mud-input-input-control">
                        <div class="mud-input-control-input-container">
                            <div class="mud-input mud-input-text mud-input-adorned-start mud-input-underline mud-shrink mud-ltr">
                                <div class="mud-input-adornment mud-input-adornment-start">
                                    <svg aria-label="Icon" tabindex="-1" class="mud-icon-root mud-icon-default mud-svg-icon mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                                        <path d="M0 0h24v24H0z" fill="none"/><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/></svg></div>
                                <input class="mud-input-slot mud-input-root mud-input-root-text mud-input-root-adorned-start" type="text" name="Username" @bind="username" placeholder="username" inputmode="text" maxlength="524288" aria-invalid="false"/>
                                <div class="mud-input-slot mud-input-root mud-input-root-text mud-input-root-adorned-start" style="display:none" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </MudItem>
            <MudItem xs="12">
                <div class="mud-grid-item mud-grid-item-xs-12">
                    <div class="mud-input-control mud-input-input-control">
                        <div class="mud-input-control-input-container">
                            <div class="mud-input mud-input-text mud-input-adorned-start mud-input-underline mud-shrink mud-ltr">
                                <div class="mud-input-adornment mud-input-adornment-start">

                                    <svg aria-label="Icon" tabindex="-1" class="mud-icon-root mud-icon-default mud-svg-icon mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><g><path d="M2,17h20v2H2V17z M3.15,12.95L4,11.47l0.85,1.48l1.3-0.75L5.3,10.72H7v-1.5H5.3l0.85-1.47L4.85,7L4,8.47L3.15,7l-1.3,0.75 L2.7,9.22H1v1.5h1.7L1.85,12.2L3.15,12.95z M9.85,12.2l1.3,0.75L12,11.47l0.85,1.48l1.3-0.75l-0.85-1.48H15v-1.5h-1.7l0.85-1.47 L12.85,7L12,8.47L11.15,7l-1.3,0.75l0.85,1.47H9v1.5h1.7L9.85,12.2z M23,9.22h-1.7l0.85-1.47L20.85,7L20,8.47L19.15,7l-1.3,0.75 l0.85,1.47H17v1.5h1.7l-0.85,1.48l1.3,0.75L20,11.47l0.85,1.48l1.3-0.75l-0.85-1.48H23V9.22z"/></g></g>
                                    </svg>
                                </div>
                                <input class="mud-input-slot mud-input-root mud-input-root-text mud-input-root-adorned-start" type="password" name="Password" @bind="password" placeholder="@localizer["password"]" inputmode="text" maxlength="524288" aria-invalid="false"/>
                                <div class="mud-input-slot mud-input-root mud-input-root-text mud-input-root-adorned-start" style="display:none" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-center">
                <div class="mud-grid-item mud-grid-item-xs-12 d-flex justify-center">
                    <button type="submit" class="mud-button-root mud-button mud-button-filled mud-button-filled-primary mud-button-filled-size-large mud-ripple" style="width: 100%;">
                        <span class="mud-button-label">@localizer["signin"]</span>
                    </button>
                </div>
            </MudItem>
        </MudGrid>
    </form>
    </MudStack>
</MudGrid>

@code {
    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [SupplyParameterFromQuery]
    private string? errorMessage { get; set; }

    private string username = string.Empty;
    private string password = string.Empty;

    protected override System.Threading.Tasks.Task OnInitializedAsync()
    {
        if (!LdapService.LdapEnabled())
        {
            RedirectManager.RedirectTo("/Account/Login");
        }
        
        return System.Threading.Tasks.Task.CompletedTask;
    }
}